.card {
  width: 280px;
}

.card .cabecalho {
  height: 90px;
  border-radius: 10px 10px 0px 0px;
}
.card img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.card .rodape {
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 85px;
  padding-bottom: 5px;
}

.card .rodape h3 {
  color: #101820;
  font-size: 18px;
  line-height: 22px;
  margin: 5px;
}

.card .rodape h4 {
  font-size: 18px;
  line-height: 22px;
  color: #101820;
  font-weight: normal;
  margin: 0;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .card img {
    width: 80px;
    height: 80px;
    bottom: -40px;
  }
}
