.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  z-index: 1;
}

.formulario form {
  max-width: 65%;
  width: calc(100% - 128px);
  background-color: #d6d2c4;
  border-radius: 10px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.06);
}

.titulo {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #101820;
}

@media (max-width: 768px) {
  .formulario form {
    width: 90%;
    padding: 20px;
    margin-top: 100px;
  }
  .titulo {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .formulario form {
    width: 80%;
    padding: 20px;
    margin-top: 0px;
  }
  .titulo {
    font-size: 24px;
  }
}
